In [1]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

In [2]:
import pandas as pd
data = pd.read_excel('https://github.com/artemgur/akbars/raw/master/%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0%203A.xlsx', engine='openpyxl')
data.head()

                        NaturalPersonID  ... ConfirmedMonthlyIncome (Target)
0  1ABD801A-0580-4C4F-9682-E7E85A749981  ...                        30691.36
1  7B427911-9B96-443E-9EBA-76A02515E1BE  ...                        25712.07
2  4B867BD5-6398-4400-99CA-CF208714AF9A  ...                        31081.26
3  ED654BFA-A7E7-4280-84CA-D6EAE80E45E2  ...                        17848.79
4  CCA3FF37-D508-449E-869A-6ED4CB6F9943  ...                       115380.53

[5 rows x 24 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10719 entries, 0 to 10718
Data columns (total 24 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   NaturalPersonID                             10719 non-null  object
 1   RequestDate                                 10719 non-null  datetime64[ns]
 2   ProductName                                 10719 non-null  object
 3   CreditSum                                   10713 non-null  float64
 4   TypeOfWork                                  6151 non-null   object
 5   Employment                                  10716 non-null  object
 6   SignIP                                      72 non-null     object
 7   sex                                         10719 non-null  object
 8   age                                         10719 non-null  int64
 9   EducationStatus                             10719 non-null  object
 10  otrasl_rabotodatelya                        10718 non-null  object
 11  kolichestvo_rabotnikov_v_organizacii        10718 non-null  object
 12  Employment.1                                10716 non-null  object
 13  OrgStanding_N                               10719 non-null  float64
 14  kolichestvo_detej_mladshe_18                10719 non-null  int64
 15  LivingRegionName                            10719 non-null  object
 16  Residence                                   9897 non-null   object
 17  IncomeDocumentKind                          10589 non-null  object
 18  HaveSalaryCard                              10719 non-null  object
 19  IsBankWorker                                10719 non-null  object
 20  TypeOfWork.1                                6151 non-null   object
 21  SignIP.1                                    72 non-null     object
 22  harakteristika_tekutschego_trudoustrojstva  10488 non-null  object
 23  ConfirmedMonthlyIncome (Target)             10719 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(18)
memory usage: 2.0+ MB

Все значения в столбце NaturalPersonID уникальны:

In [4]:
data['NaturalPersonID'].is_unique

True

Столбец NaturalPersonID содержит уникальные идентификаторы пользователей. Он не содержит полезной информации, так что удалим его.

In [5]:
data.drop('NaturalPersonID', inplace=True, axis=1)
data.head()

  RequestDate  ... ConfirmedMonthlyIncome (Target)
0  2018-10-16  ...                        30691.36
1  2018-10-19  ...                        25712.07
2  2018-11-02  ...                        31081.26
3  2018-11-02  ...                        17848.79
4  2018-10-15  ...                       115380.53

[5 rows x 23 columns]

В данных есть полностью одинаковые столбцы. Удалим их

In [6]:
data['TypeOfWork'].equals(data['TypeOfWork.1']), data['Employment'].equals(data['Employment.1']), data['SignIP'].equals(data['SignIP.1'])

(True, True, True)

In [7]:
data.drop(['TypeOfWork.1', 'Employment.1', 'SignIP.1'], inplace=True, axis=1)
data.head(5)

  RequestDate  ... ConfirmedMonthlyIncome (Target)
0  2018-10-16  ...                        30691.36
1  2018-10-19  ...                        25712.07
2  2018-11-02  ...                        31081.26
3  2018-11-02  ...                        17848.79
4  2018-10-15  ...                       115380.53

[5 rows x 20 columns]

In [8]:
data['sex'].unique()

array(['Женский', 'Мужской'], dtype=object)

In [9]:
data['ProductName'].unique()

array(['Кредит на потребительские нужды', 'Кредитная карта'], dtype=object)

In [10]:
data['IncomeDocumentKind'].unique()

array(['Выписка по счету', '2-НДФЛ',
       'Справка по форме Банка от работодателя', nan, 'Иное',
       'Нет (не предоставлен)'], dtype=object)

В данных есть бинарные признаки. Закодируем их через 0 и 1

In [11]:
data['sex'] = data['sex'].map({'Женский': 0, 'Мужской': 1})
data['ProductName'] = data['ProductName'].map({'Кредит на потребительские нужды': 0, 'Кредитная карта': 1})
data['HaveSalaryCard'] = data['HaveSalaryCard'].map({'нет': 0, 'да': 1})
data['IsBankWorker'] = data['IsBankWorker'].map({'нет': 0, 'да': 1})
data.head()

  RequestDate  ...  ConfirmedMonthlyIncome (Target)
0  2018-10-16  ...                         30691.36
1  2018-10-19  ...                         25712.07
2  2018-11-02  ...                         31081.26
3  2018-11-02  ...                         17848.79
4  2018-10-15  ...                        115380.53

[5 rows x 20 columns]

Признак kolichestvo_rabotnikov_v_organizacii закодируем числами от меньшего количества работников к большему

In [12]:
data['kolichestvo_rabotnikov_v_organizacii'].unique()

array(['более 500', 'до 20', '101-500', '21-100', nan], dtype=object)

In [13]:
data['kolichestvo_rabotnikov_v_organizacii'] = data['kolichestvo_rabotnikov_v_organizacii']\
    .map({'до 20': 0, '21-100': 1, '101-500': 2, 'более 500': 3})
data.head()

  RequestDate  ...  ConfirmedMonthlyIncome (Target)
0  2018-10-16  ...                         30691.36
1  2018-10-19  ...                         25712.07
2  2018-11-02  ...                         31081.26
3  2018-11-02  ...                         17848.79
4  2018-10-15  ...                        115380.53

[5 rows x 20 columns]

harakteristika_tekutschego_trudoustrojstva — "Частичная или временная занятость" практически у всех. Единственное другое значение — "Частичная или временная занятость", но строк с таким значением всего 15 из более 10000.
Это приведет к переобучению. Удалим этот столбец

In [14]:
data['harakteristika_tekutschego_trudoustrojstva'].unique(), data['harakteristika_tekutschego_trudoustrojstva'].value_counts()

(array(['Постоянная, полная занятость', nan,
        'Частичная или временная занятость'], dtype=object),
 Постоянная, полная занятость         10473
 Частичная или временная занятость       15
 Name: harakteristika_tekutschego_trudoustrojstva, dtype: int64)

In [15]:
data.drop('harakteristika_tekutschego_trudoustrojstva', axis=1, inplace=True)

In [16]:
data['EducationStatus'].unique()

array(['Высшее образование', 'Среднее специальное образование',
       'Несколько высших образований', 'Среднее образование',
       'Незаконченное высшее образование',
       'Академическая степень (кандидат наук, доктор наук и т.д.)',
       'Незаконченное среднее образование'], dtype=object)

In [17]:
data['Employment'].unique(), data['Employment'].value_counts()

(array(['Сотрудник \\ Рабочий \\ Ассистент',
        'Главный Специалист\\Руководитель среднего звена',
        'Руководитель высшего звена',
        'Эксперт\\Старший или Ведущий Специалист',
        'Индивидуальный предприниматель', 'нет данных', nan], dtype=object),
 Сотрудник \ Рабочий \ Ассистент                   7557
 Главный Специалист\Руководитель среднего звена    1624
 Эксперт\Старший или Ведущий Специалист             847
 Руководитель высшего звена                         679
 нет данных                                           6
 Индивидуальный предприниматель                       3
 Name: Employment, dtype: int64)

Единственная строка, где otrasl_rabotodatelya и kolichestvo_rabotnikov_v_organizacii — NaN. Эту строку точно следует убрать.

In [18]:
data[data['kolichestvo_rabotnikov_v_organizacii'].isnull()]

      RequestDate  ProductName  ...  IsBankWorker ConfirmedMonthlyIncome (Target)
10568  2018-04-19            0  ...             0                        220834.0

[1 rows x 19 columns]

In [19]:
data.drop(10568, inplace=True)
data[data['kolichestvo_rabotnikov_v_organizacii'].isnull()]

Empty DataFrame
Columns: [RequestDate, ProductName, CreditSum, TypeOfWork, Employment, SignIP, sex, age, EducationStatus, otrasl_rabotodatelya, kolichestvo_rabotnikov_v_organizacii, OrgStanding_N, kolichestvo_detej_mladshe_18, LivingRegionName, Residence, IncomeDocumentKind, HaveSalaryCard, IsBankWorker, ConfirmedMonthlyIncome (Target)]
Index: []

Далее подробно рассмотрим столбец SignIP.
Этот столбец содержит только 2 возможных значения: None и ИП.

In [20]:
data['SignIP'].unique(), data['SignIP'].value_counts()

(array([nan, 'ИП'], dtype=object), ИП    71
 Name: SignIP, dtype: int64)

Отделим строки, у которых значение — ИП, и проанализируем их.

In [21]:
dataIP = data[~data['SignIP'].isnull()]
dataIP.head()

    RequestDate  ProductName  ...  IsBankWorker ConfirmedMonthlyIncome (Target)
7    2018-11-12            0  ...             0                       100050.00
130  2018-11-13            0  ...             0                       195264.17
162  2018-11-01            0  ...             0                       213183.67
555  2018-07-27            0  ...             0                        69600.00
755  2018-12-13            0  ...             0                        60357.00

[5 rows x 19 columns]

Количества уникальных значений некоторых столбцов в этой выборке:

In [22]:
dataIP['TypeOfWork'].value_counts(), dataIP['Employment'].value_counts(), dataIP['IncomeDocumentKind'].value_counts(), dataIP['kolichestvo_rabotnikov_v_organizacii'].value_counts()

(Собственное дело                  54
 Индивидуальный предприниматель    17
 Name: TypeOfWork, dtype: int64,
 Руководитель высшего звена                        54
 Главный Специалист\Руководитель среднего звена     8
 Сотрудник \ Рабочий \ Ассистент                    4
 Индивидуальный предприниматель                     2
 нет данных                                         2
 Name: Employment, dtype: int64,
 Справка по форме Банка от работодателя    35
 2-НДФЛ                                    18
 Иное                                      15
 Выписка по счету                           3
 Name: IncomeDocumentKind, dtype: int64,
 0.0    48
 1.0    22
 2.0     1
 Name: kolichestvo_rabotnikov_v_organizacii, dtype: int64)

Количества уникальных значений тех же столбцов в изначальной выборке:

In [23]:
data['TypeOfWork'].value_counts(), data['Employment'].value_counts(), data['IncomeDocumentKind'].value_counts(), data['kolichestvo_rabotnikov_v_organizacii'].value_counts()

(по найму                          6074
 Собственное дело                    54
 Индивидуальный предприниматель      17
 Агент на комиссионом договоре        5
 Name: TypeOfWork, dtype: int64,
 Сотрудник \ Рабочий \ Ассистент                   7557
 Главный Специалист\Руководитель среднего звена    1624
 Эксперт\Старший или Ведущий Специалист             847
 Руководитель высшего звена                         679
 нет данных                                           6
 Индивидуальный предприниматель                       3
 Name: Employment, dtype: int64,
 2-НДФЛ                                    5370
 Выписка по счету                          4402
 Справка по форме Банка от работодателя     772
 Иное                                        43
 Нет (не предоставлен)                        1
 Name: IncomeDocumentKind, dtype: int64,
 3.0    4958
 1.0    2649
 2.0    2129
 0.0     982
 Name: kolichestvo_rabotnikov_v_organizacii, dtype: int64)

Можно заметить, что в ИП в столбце SignIP стоит у тех и только у тех людей, у которых TypeOfWork — "Собственное дело" или "Индивидуальный предприниматель"

Это означает, что NaN в столбце SignIP — не пропуск в данных. На самом деле SignIP — бинарный признак, а NaN и ИП — его значения. 

Закодируем признак через 0 и 1.

In [24]:
data['SignIP'] = data['SignIP'].replace({None: 0, 'ИП': 1})
data['SignIP'].value_counts()
#data.head()

0    10647
1       71
Name: SignIP, dtype: int64

Рассмотрим промежуточные результаты

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10718 entries, 0 to 10718
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   RequestDate                           10718 non-null  datetime64[ns]
 1   ProductName                           10718 non-null  int64
 2   CreditSum                             10712 non-null  float64
 3   TypeOfWork                            6150 non-null   object
 4   Employment                            10716 non-null  object
 5   SignIP                                10718 non-null  int64
 6   sex                                   10718 non-null  int64
 7   age                                   10718 non-null  int64
 8   EducationStatus                       10718 non-null  object
 9   otrasl_rabotodatelya                  10718 non-null  object
 10  kolichestvo_rabotnikov_v_organizacii  10718 non-null  float64
 11  OrgStanding_N                         10718 non-null  float64
 12  kolichestvo_detej_mladshe_18          10718 non-null  int64
 13  LivingRegionName                      10718 non-null  object
 14  Residence                             9896 non-null   object
 15  IncomeDocumentKind                    10588 non-null  object
 16  HaveSalaryCard                        10718 non-null  int64
 17  IsBankWorker                          10718 non-null  int64
 18  ConfirmedMonthlyIncome (Target)       10718 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(7), object(7)
memory usage: 1.6+ MB

In [26]:
#data[data['CreditSum'].isnull()]

In [27]:
#data.drop(data[(data['CreditSum'].isnull()) | (data['Employment'].isnull()) | (data['IncomeDocumentKind'].isnull())].index, inplace=True, axis=0)
#data.info()

In [33]:
data['Employment'].unique(), data['Employment'].value_counts()

(array(['Сотрудник \\ Рабочий \\ Ассистент',
        'Главный Специалист\\Руководитель среднего звена',
        'Руководитель высшего звена',
        'Эксперт\\Старший или Ведущий Специалист',
        'Индивидуальный предприниматель', 'нет данных', nan], dtype=object),
 Сотрудник \ Рабочий \ Ассистент                   7557
 Главный Специалист\Руководитель среднего звена    1624
 Эксперт\Старший или Ведущий Специалист             847
 Руководитель высшего звена                         679
 нет данных                                           6
 Индивидуальный предприниматель                       3
 Name: Employment, dtype: int64)